@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Raleway:300,600|Roboto:400,700');
body {
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    line-height: 1.42857143;
}
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}
.status {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}
.status-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.status-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.status-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
header {
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
}
@media only screen and (min-width: 768px) {
    header {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
    }
}
.header_inner {
    position: relative;
}
a.logo {
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    background-color: #0f0f0f;
    padding: 15px;
    border-radius: 0px 0px 7px 7px;
    width: 175px;
}
.header_nav {
    margin-left: 175px;
}
.header_nav ul {
    margin: 0;
    padding: 0;
}
.header_nav ul > li {
    list-style: none;
    float: left;
}
.header_nav ul > li > a {
    display: inline-block;
    padding: 15px 19px;
    color: #FFF;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.header_nav ul > li > a:hover {
    background-color: #000;
}
.header_nav ul > li > a.active {
    background-color: #000;
}
.nav_trigger {
    display: none;
    float: right;
    text-align: center;
    width: 29px;
    height: 29px;
    background-color: #d9b96b;
    color: #FFF;
    cursor: pointer;
    font-size: 32px;
    line-height: 29px;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.nav_trigger.open {
    font-size: 19px;
    -o-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.responsive_nav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    background-color: #111111;
    border-left: 5px solid rgba(0, 0, 0, 0.3);
    width: 200px;
    height: 100%;
    margin-left: -200px;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.responsive_nav.open {
    margin-left: 0;
}
.responsive_nav > ul {
    margin: 0 0 0 -5px;
    padding: 0;
}
.responsive_nav > ul > li > a {
    display: block;
    width: 100%;
    padding: 15px;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    border-left: 5px solid #d9b96b;
}
.responsive_nav > ul > li > a:hover {
    color: #d9b96b;
}
.responsive_nav > ul > li > a.active {
    color: #d9b96b;
}
.particle_wrap {
    position: relative;
}
.particle_wrap img {
    width: 100%;
}
canvas {
    display: block;
    vertical-align: bottom;
}


/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    /*background-image: url("http://familysiam.com/wp-content/uploads/2015/01/green-bg-flower2.jpg");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}


/* ---- stats.js ---- */

.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    display: none;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}
/*.welcome {
    box-shadow: 0 5px 5px -5px #333;
}*/
.welcome_inner {
    width: 100%;
    max-width: 620px;
    margin: 0 auto;
    padding: 50px 0px;
}
.welcome_inner h3 {
    margin-top: 0px;
    font-weight: 300;
    margin-bottom: 40px;
}
.mission_wrap {
    background-color: #efefef;
    padding: 50px 0px;
    -moz-box-shadow:    inset  0  8px 8px -8px #bbb,
    inset  0 -8px 8px -8px #bbb;
    -webkit-box-shadow: inset  0  8px 8px -8px #bbb,
    inset  0 -8px 8px -8px #bbb;
    box-shadow:        inset  0  8px 8px -8px #bbb,
    inset  0 -8px 8px -8px #bbb;
}
@media only screen and (min-width: 992px) {
    .mission_wrap .row .col-lg-6:first-child .mission_item {
        padding-right: 50px;
    }
    .mission_wrap .row .col-lg-6:last-child .mission_item {
        padding-left: 50px;
    }
}
.mission_img {
    position: relative;
    border: 1px solid #d9b96b;
    z-index: 9;
}
.mission_desc {
    padding: 0px 15px;
    position: relative;
    z-index: 99;
    margin-top: -70px;
}
.mission_desc_inner {
    padding: 20px 50px;
    border: 1px solid #d9b96b;
    background-color: #FFF;
}
.mission_desc_inner h4 {
    margin-top: 0px;
}
.property_wrap {
    padding: 50px 15px;
}
.property_wrap h3 {
    margin-top: 0;
    margin-bottom: 30px;
}
.property_lnk {
    text-align: center;
}
.property_lnk a {
    display: inline-block;
    width: 250px;
    height: 250px;
    text-align: center;
    padding-top: 60px;
    border: 2px solid #d9b96b;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #CCC;
    color: #333;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    margin: 0px 5px;
}
.property_lnk a img {
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.property_lnk a:hover {
    color: #FFF;
    background-color: #d9b96b;
    box-shadow: 0px 0px 15px #CCC;
}
.property_lnk a:hover img {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}
.property_lnk a p {
    margin-top: 20px;
}
.thinking {
    background: url("../images/thinking_bg.jpg") no-repeat center top;
    box-shadow: 0 5px 5px -5px #FFF;
}
.thinking_inner {
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFF;
    /*padding: 50px 0px;*/
}
footer {
    background-color: #000;
    color: #FFF;
    padding-top: 30px;
}
.footer_address {
    margin-top: 70px;
}
.footer_address a {
    color: #FFF;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.footer_address > a:hover {
    color: #d9b96b;
}
.footer_nav {
    margin-top: 70px;
}
.footer_nav > li {
    margin: 3px 0px;
}
.footer_nav > li > a {
    color: #FFF;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.footer_nav > li > a:hover {
    color: #d9b96b;
}
.footer_soc {
    text-align: center;
    margin-top: 70px;
}
.footer_soc a {
    display: block;
    font-size: 24px;
    margin: 3px 0;
    color: #FFF;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.footer_soc a.fb:hover {
    color: #3b5998;
}
.footer_soc a.tw:hover {
    color: #0084b4;
}
.footer_soc a.in:hover {
    color: #3b5998;
}
.footer_soc a.li:hover {
    color: #0077B5;
}
.powered_wrap {
    border-top: 1px solid #FFF;
    padding: 10px 0 5px 0;
    margin-top: 30px;
}
.copy_rt {
    float: left;
}
.powered {
    float: right;
}
.powered a {
    vertical-align: super;
}
.service_wrap {
    /*background-color: #008dd8 #d9b96b;*/
    padding: 70px 0;
}
.service_head {
    margin-top: 0;
    font-size: 3.2em;
    font-weight: 600;
}
.service_caption {
    /*color: #b3dbf1;*/
    font-size: 1.4em;
}
.service_inner {
    font-size: 0;
    margin-top: 40px;
    color: #FFF;
}
.service_col {
    display: inline-block;
    width: 20%;
    padding: 15px;
    position: relative;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.service_ico {
    font-size: 36px;
    color: rgba(0, 0, 0, 0.5);
}
.service_col h4 {
    font-size: 19px;
}
.service_col p {
    font-size: 14px;
}
.service_col::after {
    position: absolute;
    content: " ";
    top: -15px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -15px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #fff;
}
.service_inner .service_col:nth-child(1) {
     background-color: rgba(0,141,216,0.6);
 }
.service_inner .service_col:nth-child(2) {
    background-color: rgba(0,141,216,0.7);
}
.service_inner .service_col:nth-child(3) {
    background-color: rgba(0,141,216,0.8);
}
.service_inner .service_col:nth-child(4) {
    background-color: rgba(0,141,216,0.9);
}
.service_inner .service_col:nth-child(5) {
    background-color: rgba(0,141,216,1);
}
.service_inner .service_col:nth-child(1)::after {
    border-bottom-color: rgba(0,141,216,0.6);
}
.service_inner .service_col:nth-child(2)::after {
    border-bottom-color: rgba(0,141,216,0.7);
}
.service_inner .service_col:nth-child(3)::after {
    border-bottom-color: rgba(0,141,216,0.8);
}
.service_inner .service_col:nth-child(4)::after {
    border-bottom-color: rgba(0,141,216,0.9);
}
.service_inner .service_col:nth-child(5)::after {
    border-bottom-color: rgba(0,141,216,1);
}
.service_col:hover {
    -webkit-box-shadow: 3px 3px 3px -3px #333, 3px 3px 3px -3px #333, -3px 3px 3px -3px #333;
    -moz-box-shadow:    3px 3px 3px -3px #333, 3px 3px 3px -3px #333, -3px 3px 3px -3px #333;
    box-shadow:         3px 3px 3px -3px #333, 3px 3px 3px -3px #333, -3px 3px 3px -3px #333
}
.page_head {
    background: url('../images/banner_1.jpg') fixed no-repeat;
}
.page_head_inner {
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 300px;
}
.page_head h4 {
    margin: 150px 0 0 0;
    color: #FFF;
    font-size: 28px;
    font-weight: 300;
}
@media only screen and (min-width: 768px) {
    .page_head h4 {
        padding-left: 190px;
    }
}
.property_page_wrap {
    padding: 30px 0;
    background-color: #F9F9F8;
}
.property_filter {
    margin: 0;
    padding: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}
.property_filter > li > a {
    display: block;
    width: 100%;
    padding: 10px 15px;
    color: #333;
    background-color: #FFF;
    font-size: 16px;
    border-bottom: 1px solid #e6e6e6;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.property_filter > li > a.active,
.property_filter > li > a:hover {
    background-color: #d9b96b;
    color: #FFF;
    border-bottom: 1px solid #d9b96b;
}
.property_filter > li:last-child > a {
    border-bottom: none;
}
.property_box {
    background-color: #FFF;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.property_box:hover {
    box-shadow: 0 5px 5px #CCC;
}
.property_title {
    background-color: rgba(0,141,216,1);
    color: #FFF;
    padding: 10px;
}
.property_title h4 {
    margin-top: 0;
}
.property_loc .ico {
    display: inline-block;
    margin-right: 10px;
    font-size: 21px;
}
.property_det {
    padding: 10px 0px;
}
.property_det li {
    padding: 5px 15px;
}
.contact_page_wrap {
    padding: 50px 0 0 0;
}
.contact_head {
    font-size: 36px;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
}
.contact_head_bg {
    font-size: 0;
    margin-bottom: 15px;
}
.contact_head_bg span{
    display: inline-block;
    width: 100%;
    max-width: 80px;
    height: 2px;
    background-color: #d9b96b;
}
.contact_item {
    margin-bottom: 10px;
}
.contact_item .ico {
    display: inline-block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 36px;
    color: #FFF;
    background-color: rgba(0,141,216,1);
}
.contact_item .desc {
    margin-left: 95px;
}
.contact_item .desc h4 {
    margin-top: 0px;
    margin-bottom: 5px;
}
.contact_item .desc a {
    color: #333;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.contact_item .desc a:hover,
.contact_item .desc a:active {
    color: rgba(0,141,216,1);
}
.form_block {
    margin-bottom: 15px;
}
.form_block label {
    display: block;
    width: 100%;
}
.form_block label span {
    display: inline-block;
    color: red;
    margin-left: 10px;
}
.form_block input[type="email"],
.form_block input[type="text"],
.form_block textarea {
    display: block;
    width: 100%;
    border: 1px solid transparent;
    padding-left: 15px;
    background-color: #f3f3f3;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.form_block input[type="email"],
.form_block input[type="text"] {
    height: 48px;
}
.form_block textarea {
    min-width: 100%;
    max-width: 100%;
    resize: none;
    min-height: 120px;
    padding-top: 15px;
}
.form_block select {
    display: block;
    width: 100%;
    height: 48px;
    border: 1px solid transparent;
    padding-left: 15px;
    background-color: #f3f3f3;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.form_block input[type="email"]:focus,
.form_block input[type="text"]:focus,
.form_block textarea:focus,
.form_block select:focus{
    background-color: #FFF;
    border-color: rgba(0,141,216,1);
}
.form_block button,
.form_block input[type="submit"] {
    display: inline-block;
    padding: 15px;
    background-color: transparent;
    border: 2px solid rgba(0,141,216,1);
    color: #333;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.form_block button:hover,
.form_block input[type="submit"]:hover {
    color: #FFF;
    background-color: rgba(0,141,216,1);
}
#map {
    width: 100%;
    min-height: 400px;
    margin-top: 30px;
}
#map iframe {
    width: 100%;
    height: 400px;
}
.landlord_page_wrap {
    padding: 50px 0;
    background-color: #F9F9F8;
}
.landlord_aside {
    background-color: #FFF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    padding: 30px 15px;
}
.landlord_aside h3 {
    margin-top: 0;
}
.landlord_aside h3,
.landlord_aside h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.landlord_aside p {
    font-size: 15px;
}
.landlord_form {
    background-color: #FFF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    padding: 30px 15px 15px 15px;
}
.banner_contact_wrap {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 999;
    text-align: right;
    color: #FFF;
}
.banner_contact_wrap a {
    color: #FFF;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.banner_contact_wrap a:hover {
    color: rgba(0,141,216,1);
}
.banner_contact {
    position: relative;
    display: inline-block;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.banner_contact img {
    float: left;
    width: 54px;
}
.banner_contact_right {
    float: left;
}
.title {
    margin-top: 6px;
    margin-left: -3px;
}
.title span {
    display: inline-block;
    font-size: 19px;
    margin-right: 10px;
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.tel {
    margin-left: -25px;
    margin-top: -3px;
}
.tel a{
    font-size: 19px;
    font-weight: 700;
}
.email {
    margin-left: -25px;
    margin-top: 6px;
}
.email_left {
    float: left;
}
.email_right {
    float: left;
    font-size: 11px;
    margin-left: 10px;
    margin-top: -5px;
}
.email_right p {
    border-top: 1px solid #FFF;
}
.image_upload_preview {
    max-width: 100%;
    margin-top: 15px;
}
@media only screen and (max-width: 1199px) {
    .property_lnk a {
        width: 199px;
        height: 199px;
        padding-top: 45px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    a.logo {
        width: 140px;
    }
    .header_nav {
        margin-left: 140px;
    }
    .header_nav ul > li > a {
        padding: 15px;
    }
    .mission_item {
        max-width: 320px;
    }
    .property_lnk a {
        margin: 5px;
    }
    .thinking_content {
        text-align: center;
    }
    .thinking_lnk {
        text-align: center;
    }
    .service_col {
        width: 30%;
    }
}
@media only screen and (max-width: 767px) {
    .particle_wrap {
        margin-top: 0px;
    }
    .particle_wrap img {
        margin-top: 0px;
    }
    header {
        background-color: #000;
        padding: 5px 0px;
    }
    a.logo {
        width: 100px;
        margin-top: -144px;
        padding: 0;
        background-color: transparent;
    }
    .header_nav {
        display: none;
    }
    .nav_trigger {
        display: block;
    }
    .mission_item {
        display: block;
        margin: 0 auto;
    }
    .mission_wrap .container .mission_item:first-child {
        margin: 0 auto 15px auto;
    }
    .property_lnk a {
        margin: 5px;
    }
    .thinking_content {
        text-align: center;
    }
    .thinking_lnk {
        text-align: center;
    }
    .footer_logo {
        text-align: center;
    }
    .footer_logo a {
        display: inline-block;
    }
    .footer_address {
        text-align: center;
    }
    .footer_nav > li {
        text-align: center;
    }
    .footer_soc a {
        display: inline-block;
        margin: 0 7px;
    }
    .footer_address {
        margin-top: 30px;
    }
    .footer_nav {
        margin-top: 30px;
    }
    .footer_soc {
        margin-top: 30px;
    }
    .copy_rt {
        float: none;
        text-align: center;
    }
    .powered {
        float: none;
        text-align: center;
        margin-top: 10px;
    }
    .service_col {
        display: block;
        width: 100%;
        max-width: 290px;
        margin: 0 auto 30px auto;
    }
    .property_filter {
        width: 100%;
        max-width: 290px;
        margin: 0 auto 15px auto;
    }
    .property_box {
        width: 100%;
        max-width: 290px;
        margin: 0 auto 15px auto;
    }
}

/*********** Edited by Irshad (15-02-2017) ************/

.thinking_inner{
    padding-top: 160px;
    height: 465px;
}
.thinking_inner h3{
    font-size: 30px;
}
.service_inner .service_col:nth-child(1){
    background: #fccc6b;
}
.service_inner .service_col:nth-child(1)::after{
    border-bottom-color: #fccc6b;
}
.service_inner .service_col:nth-child(2){
    background: #eec161;
}
.service_inner .service_col:nth-child(2)::after{
    border-bottom-color: #eec161;
}
.service_inner .service_col:nth-child(3){
    background: #e3b756;
}
.service_inner .service_col:nth-child(3)::after{
    border-bottom-color: #e3b756;
}
.service_inner .service_col:nth-child(4){
    background: #d7ad4c;
}
.service_inner .service_col:nth-child(4)::after{
    border-bottom-color:#d7ad4c;
}
.service_inner .service_col:nth-child(5){
    background: #cca443;
}
.service_inner .service_col:nth-child(5)::after{
    border-bottom-color: #cca443;
}
.property_title{
    background-color: rgb(15, 15, 15);
}
.unslider-arrow{
    display: none;
}
.unslider-nav{
    display: none;
}
.contact_item .ico{
    background: #cca443;
    
}
.header_nav ul > li > a.active {
    background-color: #0f0f0f;
}
.header_nav ul > li > a:hover {
    background-color: #0f0f0f;
}
#map{
    display: flex;
}
#map iframe{
    height: 260px;
}
.banner_contact img{
    width: 100%;
}
@media only screen and (max-width: 480px) {
    .banner_contact{
        width: 200px;
    }
}